body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

h1 {
    text-align: center;
    box-shadow:  2px 1px 14px 6px rgba(0, 0, 0, 0.5);
    
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
    
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: rgb(165, 165, 165);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
    
}

footer > p {
    margin: 0px;
}