/* TIpos de Format ()
- opentype (otf)
- truetype (otf)
- embedded-opentype 
- truetype-aat (Apple Advanced Typography
- e Formato svg */


@font-face {
    font-family: 'Love';
    src: url(fonts/love\ larry\ ttf.ttf) format('opentype'), url('love\ larry\ ttf.ttf') format('trutype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Love', Times, serif;
    font-size: 3em;
    font-weight: normal;
}