@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BBC4B9, #BBC4B9);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9292A6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7272f8;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.712);
}

h2 {
    color: #a1a1f3;
}

p {
    text-align: justify;
}

